+++
title = "Merian Gärten"
linkTitle = "meriangaerten"

+++



{{< blocks/cover title="MERIAN GÄRTEN" image_anchor="mid" height="full" color="orange" >}}
<p>Feldstudie in Basel/Münchenstein BL, 2021</p>
<p class="lead mt-5">→ Botanischer Garten und Naherholungsgebiet, Hortikultur, Landwirtschaft, historische Kulturlandschaft mit Kanälen, Naturschutz</p>
	{{< blocks/link-down color="yellow" >}}
{{< /blocks/cover >}}





{{% blocks/lead color="primary" %}}
Welche Handlungsspielräume lassen sich durch die medienökologische Bestimmung der diversen Verhaltensweisen, Bedarfe und Leistungen der Akteure eines hybriden Ökosystems und ihres Relationsgefüges gewinnen?
{{< figure src="/images/mitwelten_logo.png" width="100%" >}}
{{% /blocks/lead %}}






{{% blocks/lead color="yellow" %}}
# ANALYSE-ANSÄTZE
----
→  Multiperspektivität & Mixed Methods | digital erweitertes Monitoring | vernetzte Parkinfrastrukturen | multimodale Geovisualisierung & Kartierung  
{{% /blocks/lead %}}






{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-eye" title="Monitoring" %}}
Vögel – Bestäuber – Besucher*innen

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="Gestaltung" %}}
Sensoren – Web Map & Panorama – Multimodale Darstellungsformate

{{< figure src="/images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="Kultivierung" %}}
Dokumentationen – Digital erweiterte Bewirtschaftung – Vermittlungsmedien

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}

{{% blocks/feature icon="fa-eye" title="BIRD DIVERSITY" %}}
Vögel  

{{< figure src="/images/birddiversity.png" text="Bird Diversity"  width="90%"  >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="POLLINATORS" %}}
Blütenbesucher  

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
  
	  
		
__Abstract:__  
Im Rahmen des SNF-Forschungsprojektes «Mitwelten» wurden «Bestäuberexperimente» durchgeführt. Es wurden Kamerafallen (Blumentöpfe mit Kameras) an verschiedenen Orten in den Merian Gärten aufgestellt, um Bestäuber anzulocken, Fotos aufzunehmen und anschliessend mit Künstlicher Intelligenz (KI) Morphospezies zu bestimmen.   
  

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="ONTODIVERSITY" %}}
Medienökologische Feldforschung  

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%"  >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}



{{% blocks/lead color="light"%}}
# ZUSAMMENARBEIT & AKTEURE
----
Merian Gärten  
Christoph-Merian-Stiftung  
regionatur.ch  
{{% /blocks/lead %}}





{{< blocks/section color="purple">}}

<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

{{% blocks/feature icon="fa-envelope" title="Kontakt" %}}
→ Fragen, Anregungen, Zusammenarbeit & Austausch per <a href="mailto:mitwelten.technik@fhnw.ch">Email</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" %}}
→ IoT Toolkit, technologische Entwicklungen & Anleitungen auf <a href="https://github.com/mitwelten">GitHub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter"  %}}
→ Ankündigungen, Neuigkeiten und Empfehlungen teilen auf <a href="https://twitter.com/mitwelten">Twitter</a>

{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
