
+++
title = "Merian Gärten"
linkTitle = "meriangaerten"

+++


{{< blocks/cover title="MERIAN GÄRTEN" image_anchor="mid" height="full" color="orange" >}}
<p>Feldstudie in Basel/Münchenstein BL, 2021</p>
<p class="lead mt-5">→ Botanischer Garten und Naherholungsgebiet, Hortikultur, Landwirtschaft, historische Kulturlandschaft mit Kanälen, Naturschutz</p>
	{{< blocks/link-down color="yellow" >}}
{{< /blocks/cover >}}





{{% blocks/lead color="primary" %}}
Welche Handlungsspielräume lassen sich durch die medienökologische Bestimmung der diversen Verhaltensweisen, Bedarfe und Leistungen der Akteure eines hybriden Ökosystems und ihres Relationsgefüges gewinnen?
{{< figure src="/images/mitwelten_logo.png" width="100%" >}}
{{% /blocks/lead %}}







{{% blocks/lead color="yellow" %}}
# ANALYSE-ANSÄTZE
----
→  Multiperspektivität & Mixed Methods | digital erweitertes Monitoring | vernetzte Parkinfrastrukturen | multimodale Geovisualisierung & Kartierung  
{{% /blocks/lead %}}





{{< blocks/section color="secondary">}}

	{{<  cardpane >}}
	
	
		{{<  card header="ERFASSUNG der<br><h2><b>BESTÄUBER</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#biologie #entomologie #machinelearning #bildverarbeitung #sensor #quantitativ #pflanzen #insekten #methodologie</b>">}}
			<div class="mx-auto" style="width: 90%;">
				<figure>
					<img src="/images/pollinators_campot.png" width="100%">
					<figcaption>Sensor-Ensemble aus Lockpflanze und Kamera</figcaption>
				</figure>
			</div>
				<br>
					<div class="mx-auto" style="width: 90%;">
				<p style="text-align:left; font-size:120%;">
					<b>Entwicklung und Einsatz automatisierter Verfahren zum Monitoring von bestäubenden Insekten</b>
				</p>
				<p style="text-align:left">
					Zur Erfassung blütenbestäubender Insekten wurden an mehreren Standorten mit unterschiedlichen Lebensraumtypen Blumentöpfe als Messstationen positioniert. Sie wurden einheitlich bepflanzt (Margerite, Wilde Möhre, Wiesenflockenblume) und mittels Kamerafallen (RaspberryPi Cams) kontinuierlich über mehrere Monate beobachtet. Die in grossem Umfang als Rohdaten erzeugten Einzelbilder wurden per Machine Learning auf das Vorkommen unterschiedlicher Morphospezies hin analysiert: Honigbienen, Wildbienen, Hummel,  Schwebfliege, Fliege.
					</p>
			</div>
		{{<  /card >}}
		{{<  card header="MEDIENÖKOLOGISCHES<h2><b>PANORAMA</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#multispecies #perspektivenwechsel #cohabitation #lebensraum #3Dmedium #korrelation</b></p>">}}
				<div class="mx-auto" style="width: 90%;">
					<figure>
						<img src="/images/pano.png" width="100%">
					<figcaption>Startansicht der interaktiven Bildwelten</figcaption>
				</figure>
				</div>
				<br>
				<div class="mx-auto" style="width: 90%">
					<p style="text-align:left; font-size:120%;">
						<b>Multimedial und informativ angereicherte 360°-Darstellung ökologischer Zusammenhänge</b>
				</p>
				<p style="text-align:left">
					Basierend auf der Analyse der Eigenschaften, Bedürfnisse und Leistungen unterschiedlicher Aktanten in einem bestimmten Teilgebiet wurden deren wechselseitige Relationen erarbeitet. Das 360°-Panorama erlaubt es den Betrachter*innen, unterschiedliche Perspektiven einzunehmen und zu erleben. Neben der interaktiven Verknüpfung der unterschiedlichen Positionen und Ansichten erlaubt das Medium auch zusätzliche Inhalte einzubinden: Bilder, PDF-Texte (Metainformationen, Resultate, Anleitungen, etc.), Tondokumente (Atmosphären, Aufzeichnungen, Interviews).</p>
			</div>
		{{<  /card >}}
		{{<  /cardpane >}}
		
		{{<  cardpane >}}
		{{<  card header="WEB MAP der<br><h2><b>ONTODIVERSITÄT</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#kulturwissenschaft #geographie #medienökologie #ethnographie #topographie #topologie #interdisziplinär #mapping #quantitativ #qualitativ</b>">}}
			<div class="mx-auto" style="width: 90%;">
				<figure>
				<img src="/images/iscz_map.png" width="100%">
				<figcaption>Kartenansicht Merian Gärten mit <i>Interspecies Contact Zones</i></figcaption>
			</figure>
		</div>
		<br>
		<div class="mx-auto" style="width: 90%;">
		<p style="text-align:left; font-size:120%;">
			<b>Interdisziplinäres Mapping der Wechselbeziehungen zwischen lokaler Artenvielfalt und struktureller Diversität von Terrain, Infrastrukturen oder Interaktionen </b>
		</p>
		<p style="text-align:left">
Die interdisziplinäre Grundlagenstudie befasst sich mit den ökologischen Zusammenhängen von Pflanzen, Tieren, Menschen, Dingen, Strukturen und Atmosphären in Bezug auf das Terrain und die Landschaft des Feldstudiengebiets. Lebensraumtypen und Alltagsprozesse werden aus unterschiedlichen Perspektiven und mit verschiedensten Methoden aller im Projekt vertretener Disziplinen offen untersucht. Die neu gewonnenen oder bereits vorgefundenen Daten, Materialien und Dokumente werden in einer interaktiven, vielschichtigen Web Map geographisch und gestalterisch zusammengeführt. Als massgebliche (fach-)spezifische Beiträge fliessen insbesondere die kulturwissenschaftliche qualitative Feldforschung anhand von teilnehmender Beobachtung und Interviews mit Mitarbeitenden der Merian Gärten sowie die Auswertung der kontinuierlich an sechs Standorten aufgezeichneten Tonaufnahmen ein.
				</p>
			</div>
		{{<  /card >}}



	{{<  card header="MULTIMODALE<h2><b>DATENVISUALISIERUNG</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#dataviz #medienformate #datenkritik #digitalearchive #visualisierung #korrelation #triangulation #sonifikation #wissensvermittlung #opendata #medienkompetenz #geovisualisierung #GIS #geocomputation</b>">}}
		<div class="mx-auto" style="width: 90%;">
			<figure>
				<img src="/images/webmap_vermittlung.png" width="100%">
			<figcaption>Lokale Tondokumente, Infos und Bilder zu Vogelarten verschiedener Lebensraumtypen</figcaption>
		</figure>
		</div>
		<br>
		<div class="mx-auto" style="width: 90%">
			<p style="text-align:left; font-size:120%;">
		<b>Entwicklung von aussagekräftigen und Visualisierungsformen und medienkritischen Interfaces für heterogene quantitative wie qualitative Datensätze
	</b>
	</p>
			<p style="text-align:left">
				Im Bereich der Medien- und Wissensgestaltung wurden auf verschiedenen Ebenen Tools und Formate zur Erschliessung und Darstellung der sehr unterschiedlichen Sammlungen von Daten und Dokumenten entwickelt, die bei der Gewinnung von Einsichten aus den reichhaltigen Rohdaten und Forschungsdokumenten und der anschliessenden Wissensvermittlung eine kritische Rolle spielen. Unter Einsatz etablierter Software-Umgebungen wie Grafana können Sensor-Daten dynamisch in Echtzeit dargestellt und erkundet werden. Eine eigens entwickelte Web Map integriert auf der Ebene des Feldstudiengebiets mit Blick auf das regionale Umfeld die verschiedenen spezifischen Datensätze für Forschende und Öffentlichkeit. Themenspezifische Kombinationen von Tonaufnahmen, Annotationen, Geodaten und weiterführenden Links veranschaulichen Zusammenhänge und bieten Materialien zum weiteren Eintauchen an.</p>
	
		</div>
	{{<  /card >}}
		{{<  /cardpane >}}
	
	{{<  cardpane >}}
	{{<  card header="VERNETZTE<h2><b>SENSOR-PROTOTYPEN</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#monitoring #bestandsaufnahmen #outdoor #nachbaubar #sensor #elektronik #sensor-aktuator-system #machinelearning #dataviz #quantitativ</b></p>">}}
			<div class="mx-auto" style="width: 90%;">
				<figure>
					<img src="/images/sensoren.png" width="100%">
				<figcaption>Ansichten eines Bluetooth-Sensors von innen und im Ausseneinsatz</figcaption>
			</figure>
			</div>
			<br>
			<div class="mx-auto" style="width: 90%">
				<p style="text-align:left; font-size:120%;">
					<b>Erfassung von Lebewesen, Aktivitäten und Umweltbedingungen</b>
			</p>
			<p style="text-align:left">
Zur Erfassung und Untersuchung der Biodiversität und ihrer Bedingungen und Besonderheiten im vielschichtigen ökologisch-sozialen Alltagsgeschehen in den Merian Gärten wurde eine erste Generation verschiedener Typen von Sensoren entwickelt und testweise eingesetzt: Bestäuber-Sensoren für die Erfassung blütenbesuchender Insekten; Bluetooth-Sensoren für die anonyme Erhebung menschlicher Präsenz- und Bewegungsmuster; Temperatur-, Luft- und Bodenfeuchtigkeitssensoren zur Registrierung der Wetterverhältnisse sowie bereits verfügbare Audio-Logger, für die nur Gehäuse und Halterungen gestaltet werden mussten, zur Bestimmung von Vögeln und für allgemeine Soundscape-Analysen. Sie sind grösstenteils digital vernetzt (LoRaWAN, Ethernet) und an eine Datenbank angeschlossen, über die die gewonnenen Daten ausgewertet, öffentlich zugänglich gemacht und situationsabhängig mittels hinzukommender Aktuatoren und Medienplattformen ins Terrain zurückgespielt werden.
			</p>
		</div>
	{{<  /card >}}
	{{<  card header="VIELFALT der<br><h2><b>VOGELWELT</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#biologie #ornithologie #machinelearning #tonverarbeitung #sensor #quantitativ #tiere #vögel #mapping #methodologie</b>">}}
		<div class="mx-auto" style="width: 90%;">
			<figure>
				<img src="/images/AM_map.png" width="100%">
				<figcaption>Artenliste (links), Audiomoth im Feld (rechts)</figcaption>
			</figure>
		</div>
			<br>
			<div class="mx-auto" style="width: 90%;">
				<p style="text-align:left; font-size:120%;">
				<b>Vogelbestandsaufnahmen mittels Audio-Loggern und Transektbegehungen</b>
			</p>
			<p style="text-align:left">
				Mit zwei Ornitholog*innen wurden wiederholte Transektbegehungen zur Erfassung der vorkommenden Vogelarten und Kartierung ihrer Reviere durchgeführt. Dabei wurden Audio-Logger (Audiomoth, Tonaufnahmen) mitgeführt und mittels Analyse-Software (BirdNet, Machine Learning) ausgewertet, um diese Technologien als Ergänzung der Arbeit der Fachleute zu evaluieren. In einer weiteren Untersuchung wurde ein kontinuierlicher, stationärer Einsatz der Audio-Logger an verschiedenen Standorten mit unterschiedlichen Lebensraumtypen über mehrere Monate getestet.
				</p>
				<br>
		</div>
	{{<  /card >}}
	
	{{<  /cardpane >}}	


{{< /blocks/section >}}










<!-- 
{{< blocks/section >}}

{{% blocks/feature icon="fa-eye" title="BIRD DIVERSITY" %}}
Vögel  

{{< figure src="/images/birddiversity.png" text="Bird Diversity"  width="90%"  >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="POLLINATORS" %}}
Blütenbesucher  

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
  
	  
		
__Abstract:__  
Im Rahmen des SNF-Forschungsprojektes «Mitwelten» wurden «Bestäuberexperimente» durchgeführt. Es wurden Kamerafallen (Blumentöpfe mit Kameras) an verschiedenen Orten in den Merian Gärten aufgestellt, um Bestäuber anzulocken, Fotos aufzunehmen und anschliessend mit Künstlicher Intelligenz (KI) Morphospezies zu bestimmen.   
  

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="ONTODIVERSITY" %}}
Medienökologische Feldforschung  

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%"  >}}
{{% /blocks/feature %}}


{{< /blocks/section >}} -->






{{% blocks/lead color="light"%}}
# ZUSAMMENARBEIT & AKTEURE
----
Merian Gärten  
Christoph-Merian-Stiftung  
regionatur.ch  
{{% /blocks/lead %}}









<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
