---
title: "Impressum"
linkTitle: "TEAM & INSTITUTIONEN"

---


{{% blocks/lead color="teal" %}}
<h1 class="text-center">IMPRESSUM</h1>

----  
<br>
{{< figure src="/images/mitwelten_logo.png" width="100%" >}}

{{% /blocks/lead %}}

{{< blocks/section color="cyan" >}}

<div class="container">
	<div class="row justify-content-evenly">
    <div class="col-sm">
      <p>V.i.S.d.P.: Jan Torpus<br>
        Redaktion: Felix Gerloff
      </p>
    </div>
  <div class="col-sm">
	<p>Fachhochschule Nordwestscheiz<br>
    Hochschule für Gestaltung und Kunst<br>
    Institut Experimentelle Design- und Medienkulturen<br>
    Critical Media Lab<br>
    Freilager-Platz 1, 4002 Basel
	</p>
</div>
</div>

{{< /blocks/section >}}



<!-- {{% blocks/lead color="light"%}}
# ZUSAMMENARBEIT & AKTEURE
Evi Zemanek  
Claudia Mareis  
Christiane Heibach  
Eva Spehn  
Birgit Schneider  
{{% /blocks/lead %}} -->
