
$primary: #104911;
$secondary: #D9F9A5;
$info: #2F0601;
$yellow: #F6AA1C;
$dark: #282828;
$magenta: #2596be;
$red-light: red-200;
$blue: #137cb2;

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
