+++
title = "Reinacher Heide"
linkTitle = "reinacherheide"

+++



{{< blocks/cover title="REINACHER HEIDE" image_anchor="mid" height="full" color="orange" >}}
<p>Feldstudie in Reinach BL, 2023</p>
<p class="lead mt-5">→ Naherholungs- und Naturschutzgebiet in Reinach am Birsufer</p>
	{{< blocks/link-down color="yellow" >}}
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
{{< figure src="/images/mitwelten_logo.png" >}}
Wie können medienökologische Infrastrukturen und Vermittlungsformate im lokalen Kontext dazu beitragen, einen verantwortlicheren Umgang mit der Natur zu fördern und ein neues Wertesystem zu kultivieren?
{{% /blocks/lead %}}



{{% blocks/lead color="yellow" %}}
# VERMITTLUNGSFORMATE
----
→ kontextsensitive Medienangebote | Publikumsführung | Citizen Science | Gemeinsam Geniessen

{{% /blocks/lead %}}





{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-eye" title="Monitoring" %}}
Gewässer – Bestäuber – Besucher*innen

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="Gestaltung" %}}
Leitsystem – Citizen Science App – Partizipationsmedien

{{< figure src="/images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="Kultivierung" %}}
Wilde Nachbarschaft – Mediathek – Gemeinschaftsbildung

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}





{{% blocks/lead color="light"%}}
# ZUSAMMENARBEIT & AKTEURE
----
Aufsichtskommission Reinacherheide  
Naturschutzdienst Baselland  
regionatur.ch  

{{% /blocks/lead %}}



{{< blocks/section color="purple">}}

<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

{{% blocks/feature icon="fa-envelope" title="Kontakt" %}}
→ Fragen, Anregungen, Zusammenarbeit & Austausch per <a href="mailto:mitwelten.technik@fhnw.ch">Email</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" %}}
→ IoT Toolkit, technologische Entwicklungen & Anleitungen auf <a href="https://github.com/mitwelten">GitHub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter"  %}}
→ Ankündigungen, Neuigkeiten und Empfehlungen teilen auf <a href="https://twitter.com/mitwelten">Twitter</a>

{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
