<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>
<body>
{{ block "header" . }}
<a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
<hr/>
{{ end }}
{{ block "main" . }}
<!-- see specific layouts, e.g. single.html or list.html -->
{{ end }}
{{ block "footer" . }}
<hr/>
<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> @tamberg
{{ end }}
</body>
</html>
