---
title: "IoT Toolkit"
linkTitle: "IOT TOOLKIT"
menu:
  main:
    weight: 45
---

{{< blocks/cover title="Über das SNF Projekt Mitwelten" image_anchor="bottom" height="min" >}}
<p class="lead mt-5">Ein interdisziplinäres Designforschungsprojekt</p>
{{< /blocks/cover >}}

{{% blocks/lead %}}
Mitwelten ist ...
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Ein weiterer Abschnitt</h1>
<p class="text-center">Mit mehr Text ...</p>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Ein weiterer Abschnitt</h1>
<p class="text-center">Mit noch mehr Text ...</p>
</div>
{{< /blocks/section >}}





{{% blocks/lead color="yellow" %}}
# IoT TOOLKIT & PROTOYPING
{{% /blocks/lead %}}


{{< blocks/section color="indigo" >}}

{{% blocks/feature icon="fa-eye" title="Sensoren" %}}
Vernetzte Infrastrukturen – Geovisualisierung – Multimodale Live Map

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="Aktuatoren" %}}
Responsive Infrastrukturen – Lokalmedien – Leitsystem

{{< figure src="/images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="Applikationen" %}}
Citizen Science – explorative Spielformate – Commoning of Care

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}