---
title: "Feldstudien"
linkTitle: "FELDSTUDIEN"
menu:
  main:
    weight: 40
---

{{< blocks/cover title="EMPIRISCHE FELDSTUDIEN" image_anchor="top" height="full" color="orange" >}}
<p class="lead mt-5">→ Kulturwissenschaftlich erweiterte Designforschung in konzeptionell und technologisch aufeinander aufbauenden ökologischen Feldstudien</p>
	{{< blocks/link-down color="yellow" >}}
{{< /blocks/cover >}}





{{% blocks/lead color="primary" %}}
Wie können mediale Design-In­terventionen und digital vernetzte Infrastrukturen zur Förderung von Biodiversität unter Einbeziehung lokaler ökologischer und kultureller Gegebenheiten entwickelt und angewendet werden?
{{< figure src="/images/mitwelten_logo.png" >}}
{{% /blocks/lead %}}




{{% blocks/lead color="yellow" %}}
# FELDSTUDIEN-RAHMENBEDINGUNGEN
----
→  Aushandlung gesellschaftliche Bedürfnisse & Naturschutz | laufende Umgestaltungsprozesse | hohes Mass an lokalem Knowhow | typische Konstellationen für die Schweiz  
{{% /blocks/lead %}}




{{< blocks/section color="info" >}}

{{% blocks/feature icon="fa-map" title="Merian Gärten" %}}
[Feldstudie in Basel/Münchenstein BL, 2021](meriangaerten)

<!--{{< swisstopo e="2613146" n="1265072" >}}-->
{{< figure src="/images/merian.png" text="Merian Gärten" link="https://www.mitwelten.org/fs1" width="90%" >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-map" title="Dreispitz Areal" %}}
[Feldstudie in Basel/Münchenstein BL, 2022](dreispitz)

<!--{{< swisstopo e="2612854" n="1264679" >}}-->
{{< figure src="/images/dreispitz.png" text="Dreispitz Areal" link="https://www.mitwelten.org/fs2" width="90%" >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-map" title="Reinacher Heide" %}}
[Feldstudie in Reinach BL, 2023](reinacherheide)

<!--{{< swisstopo e="2612668" n="1261433" >}}-->
{{< figure src="/images/reinach.png" text="Reinacher Heide" link="https://www.mitwelten.org/fs3" width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}







{{< blocks/section color="purple">}}

<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

{{% blocks/feature icon="fa-envelope" title="Kontakt" %}}
→ Fragen, Anregungen, Zusammenarbeit & Austausch per <a href="mailto:mitwelten.technik@fhnw.ch">Email</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" %}}
→ IoT Toolkit, technologische Entwicklungen & Anleitungen auf <a href="https://github.com/mitwelten">GitHub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter"  %}}
→ Ankündigungen, Neuigkeiten und Empfehlungen teilen auf <a href="https://twitter.com/mitwelten">Twitter</a>

{{% /blocks/feature %}}


{{< /blocks/section >}}



