+++
title = "Dreispitz Areal"
linkTitle = "dreispitz"

+++



{{< blocks/cover title="DREISPITZ AREAL" image_anchor="mid" height="full" color="orange" >}}
<p>Feldstudie in Basel/Münchenstein BL, 2022</p>
<p class="lead mt-5">→ Industriell-urbanes Entwicklungsareal am Übergang von Basel-Stadt und -Land (Münchenstein) auf dem Weg zur Mischnutzung mit Bildungs- und Kultureinrichtungen, Kreativwirtschaft und Wohngebieten</p>
	{{< blocks/link-down color="yellow" >}}
{{< /blocks/cover >}}





{{% blocks/lead color="primary" %}}
Welche Spezies übergreifenden Koexistenzformen lassen sich im urbanen Siedlungsraum durch die Gestaltung medienökologischer Infrastrukturen anregen?
{{< figure src="/images/mitwelten_logo.png" >}}
{{% /blocks/lead %}}






{{% blocks/lead color="yellow" %}}
# DESIGN-INTERVENTIONEN
----
→  ökologisch-soziale Vernetzung | Freiraumgestaltung und Interspezies-Mobiliar | Sensibilisierung für Parallelwelten und Naturwerte | Partizipation und Bildung

{{% /blocks/lead %}}




{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-eye" title="Monitoring" %}}
Vernetzung – Bestäuber – Klima

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="Gestaltung" %}}
Habitectures – WildCam TV – Adaptives Mobiliar

{{< figure src="/images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="Kultivierung" %}}
Lernformate und -ressourcen – Partizipationsplattformen – Zukunftsentwürfe

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}





{{% blocks/lead color="light"%}}
# ZUSAMMENARBEIT & AKTEURE
----
Christoph-Merian-Stiftung  
Denkstatt Sarl: Studio Gleisbogen & Bias  
Atelier Pionier  
regionatur.ch  
{{% /blocks/lead %}}



{{< blocks/section color="purple">}}

<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

{{% blocks/feature icon="fa-envelope" title="Kontakt" %}}
→ Fragen, Anregungen, Zusammenarbeit & Austausch per <a href="mailto:mitwelten.technik@fhnw.ch">Email</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" %}}
→ IoT Toolkit, technologische Entwicklungen & Anleitungen auf <a href="https://github.com/mitwelten">GitHub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter"  %}}
→ Ankündigungen, Neuigkeiten und Empfehlungen teilen auf <a href="https://twitter.com/mitwelten">Twitter</a>

{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
