+++
title = "Dreispitz Areal"
linkTitle = "dreispitz"

+++



{{< blocks/cover title="DREISPITZ AREAL" image_anchor="mid" height="full" color="orange" >}}
<p>Feldstudie in Basel/Münchenstein BL, 2022</p>
<p class="lead mt-5">→ Industriell-urbanes Entwicklungsareal am Übergang von Basel-Stadt und -Land (Münchenstein) auf dem Weg zur Mischnutzung mit Bildungs- und Kultureinrichtungen, Kreativwirtschaft und Wohngebieten</p>
	{{< blocks/link-down color="yellow" >}}
{{< /blocks/cover >}}





{{% blocks/lead color="primary" %}}
Welche Spezies übergreifenden Koexistenzformen lassen sich im urbanen Siedlungsraum durch die Gestaltung medienökologischer Infrastrukturen anregen?
{{< figure src="/images/mitwelten_logo.png" width="100%" >}}
{{% /blocks/lead %}}







<!-- 

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-eye" title="ANALYSE" %}}
Vernetzung – Bestäuber – Klima

{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="GESTALTUNG" %}}
Habitectures – WildCam TV – Adaptives Mobiliar

{{< figure src="/images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="KULTIVIERUNG" %}}
Lernformate – Partizipation – Zukunftsentwürfe

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}} -->

{{% blocks/lead color="yellow" %}}
# DESIGN-INTERVENTIONEN
----
→  ökologisch-soziale Vernetzung | Freiraumgestaltung und Interspezies-Mobiliar | Sensibilisierung für Parallelwelten und Naturwerte | Partizipation und Bildung

{{% /blocks/lead %}}



{{< blocks/section color="secondary">}}



{{<  cardpane >}}
	
	{{<  card header="LOKALES<br><h2><b>WILDCAM TV</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#qualitativ #vermittlung #kunst #IoT-netzwerk #dezentral #livestreaming #medienästhetik</b>">}}
		<div class="mx-auto" style="width: 90%;">
			<figure>
				<img src="/images/pollinators_campot.png" width="100%">
				<figcaption>Sensor-Ensemble aus Lockpflanze und Kamera</figcaption>
			</figure>
		</div>
			<br>
			<div class="mx-auto" style="width: 90%;">
			<p style="font-size:120%;">
				<b>Dokumentarische <i>Life</i>-Streams und -Clips zeigen Vielfalt und Alltagsleben der Stadtnatur im Dreispitz</b>
			</p>
			<p>
				Das ästhetische, an die menschlichen Nutzer*innen gerichtete Medienformat soll für die Wahrnehmung der kleinen und grossen ökologischen Parallelwelten in der Nachbarschaft sensibilisieren und dazu einladen, diese auch im Vorbeigehen oder in der Mittagspause zu geniessen und zu achten.
			</p>
		</div>
	{{<  /card >}}
	{{<  card header="MODULARE<br><h2><b>TRITTSTEIN-LEBENSRÄUME</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#siedlungsökologie #freiraumgestaltung #habitectures #infrastrukturen #prototypen #modular #verticalgardening #fassadenbegrünung #dachbegrünung #interspecies #pflanzen #insekten</b>">}}
		<div class="mx-auto" style="width: 90%;">
			<figure>
				<img src="/images/pollinators_campot.png" width="100%">
				<figcaption>Sensor-Ensemble aus Lockpflanze und Kamera</figcaption>
			</figure>
		</div>
			<br>
			<div class="mx-auto" style="width: 90%;">
			<p style="font-size:120%;">
				<b>Mini-Habitate ermöglichen Besiedelung öffentlicher Infrastrukturen und Randlagen</b>
			</p>
			<p>
Ein Set von Pflanztöpfen, Wasserspeichern, Nistkästen und Rankstrukturen schafft neue Trittstein-Lebensräume in den toten Winkeln und Unterseiten öffentlicher Infrastrukturen oder den luftigen Höhen von Masten, Streben und Dächern. Einheitliche Halterungen werden passend für die Grundformen und -masse von Laternenmasten, Rohrpfosten, Abfalleimern oder Geländern und Zäunen gestaltet. Im Fokus stehen anspruchslose Pflanzenarten, die als Pioniere diese Trittsteinlebensräume besiedeln und entsprechend platziert das Nahrungs- und Lebensraumangebot für benachbarte Insektenpopulationen erweitern.
</p>
		</div>
	{{<  /card >}}
{{<  /cardpane >}}


{{<  cardpane >}}

{{<  card header="SEMINAR & INITIATIVE<br><h2><b>LEBENDIGER CAMPUS</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#ökologie #bildung #freiraumgestaltung #cocreation #partizipativ #hgk #begrünung #campus #garten #sympoiesis #nachhaltigkeit</b>">}}
	<div class="mx-auto" style="width: 90%;">
		<figure>
			<img src="/images/pollinators_campot.png" width="100%">
			<figcaption>Sensor-Ensemble aus Lockpflanze und Kamera</figcaption>
		</figure>
	</div>
		<br>
		<div class="mx-auto" style="width: 90%;">
		<p style="font-size:120%;">
			<b>Partizipatives CoCreate-Seminar startet offenen Gestaltungsprozess für einen bio*diversen Freilager-Platz</b>
		</p>
		<p>
Das Projektseminar bildet eine Plattform, um gemeinsam mit verschiedenen Projekten und Initiativen an der Hochschule für Gestaltung und Kunst daran zu arbeiten, dass der Campus am Freilager-Platz zu einem bio*diverseren Lern-, Arbeits-, Lebens- und Begegnungsort für verschiedenste menschliche und nicht-menschliche Akteure wird.
</p>
	</div>
{{<  /card >}}


{{<  card header="MOBILE<br><h2><b>VERMITTLUNGSSTATION</b></h2>" footer="<p style='font-size:14px; color:green;'><b>#sensibilisierung #wissensvermittlung #dokumentation #mediengestaltung #video #streaming #wildcam #stadtnatur #naturästhetik</b>">}}
	<div class="mx-auto" style="width: 90%;">
		<figure>
			<img src="/images/pollinators_campot.png" width="100%">
			<figcaption>...</figcaption>
		</figure>
	</div>
		<br>
		<div class="mx-auto" style="width: 90%;">
		<p style="font-size:120%;">
			<b>Rollbares Mehrzweck-Möbel mit Lageplan & Schwarzem Brett, Audio- & Video-Displays, Wunderkammer-Vitrine & Samenbörse</b>
		</p>
		<p>
		Der Design-Prototyp ist ein adaptives Kommunikationsportal des Projekts und der ökologischen Themen und Aktivitäten im Feldstudiengebiet. Es wird hauptsächlich in den Innenräumen der Hochschule für Gestaltung und Kunst als Anlaufstelle, Schaufenster und Austauschplattform eingesetzt. Über die medialen Displays und Schnittstellen können Daten und Inhalte der Sensoren aus dem Areal abgerufen und in der Wunderkammer-Vitrine eigene Beobachtungen und Funde geteilt werden.
		</p>
	</div>
{{<  /card >}}
{{<  /cardpane >}}
{{< /blocks/section >}}


{{< blocks/section color="info" >}}

{{% blocks/feature icon="fa-eye" title="KONZEPTION" %}}
Interspecies Contact Zones – Ontodiversität – Topologie

{{< figure src="/images/iscz_map.png" text="Interspecies Contact Zones"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="FORSCHUNGSANSATZ" %}}
Medienökologie – Empirische Analyse – Datenvisualisierung
{{< figure src="/images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="IOT TOOLKIT" %}}
Backend & Netzwerk – Sensoren Hard- & Software – Web Map

{{< figure src="/images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{% blocks/lead color="light"%}}
# ZUSAMMENARBEIT & AKTEURE
----
Christoph-Merian-Stiftung  
Denkstatt Sarl: Studio Gleisbogen & Bias  
Atelier Pionier  
regionatur.ch  
{{% /blocks/lead %}}



<!-- {{<  card header="VERNETZTE <br> <b>AKTUATOREN</b>" footer="<p style='font-size:12px'><b>#qualitativ #vermittlung #kunst #IoT-netzwerk #dezentral #livestreaming #medienästhetik</b></p>">}}
	<div class="mx-auto" style="width: 90%;">
		<p style="text-align:left">Dokumentarische Video-Streams und -Clips zeigen die ökologische Vielfalt der lokalen Stadtnatur und des Alltagslebens im Dreispitz-Quartier.</p>
		<img src="/images/velodach.jpg" width="100%">
		<p style="text-align:left"><br>
			Das ästhetische, an die menschlichen Nutzer*innen gerichtete Medienformat soll für die Wahrnehmung der kleinen und grossen ökologischen Parallelwelten in der Nachbarschaft sensibilisieren und dazu einladen, diese auch im Vorbeigehen oder in der Mittagspause zu geniessen und zu achten.</p>
			<br>
	</div>
{{<  /card >}}

{{<  card header="SONIFIZIERTE<br><b>PLANT-HUMAN INTERACTION</b>" footer="<b>#...</b>">}}
	<div class="mx-auto" style="width: 90%;">
		<p style="text-align:left">
			...
		</p>
		<img src="/images/velodach.jpg" width="100%">
		<p style="text-align:left"><br>
			...
			</p>
			<br>
	</div>
{{<  /card >}}

{{<  card header="AUDIOVISUELLE<br> <b>AKTUATOR-MEDIEN</b>" footer="<b>#...</b>">}}
	<div class="mx-auto" style="width: 90%;">
		<p style="text-align:left">
			...
		</p>
		<img src="/images/velodach.jpg" width="100%">
		<p style="text-align:left"><br>
			...
			</p>
			<br>
	</div>
{{<  /card >}}

{{<  card header="LOKALE & SOZIALE <br> <b>BILDUNGSMEDIEN</b>" footer="<p style='font-size:12px'><b>#qualitativ #vermittlung #kunst #IoT-netzwerk #dezentral #livestreaming #medienästhetik</b></p>">}}
	<div class="mx-auto" style="width: 90%;">
		<p style="text-align:left">Dokumentarische Video-Streams und -Clips zeigen die ökologische Vielfalt der lokalen Stadtnatur und des Alltagslebens im Dreispitz-Quartier.</p>
		<img src="/images/velodach.jpg" width="100%">
		<p style="text-align:left"><br>
			Das ästhetische, an die menschlichen Nutzer*innen gerichtete Medienformat soll für die Wahrnehmung der kleinen und grossen ökologischen Parallelwelten in der Nachbarschaft sensibilisieren und dazu einladen, diese auch im Vorbeigehen oder in der Mittagspause zu geniessen und zu achten.</p>
			<br>
	</div>
{{<  /card >}}

{{<  card header="LOKALE & SOZIALE <br> <b>BILDUNGSMEDIEN</b>" footer="<p style='font-size:12px'><b>#qualitativ #vermittlung #kunst #IoT-netzwerk #dezentral #livestreaming #medienästhetik</b></p>">}}
	<div class="mx-auto" style="width: 90%;">
		<p style="text-align:left">Dokumentarische Video-Streams und -Clips zeigen die ökologische Vielfalt der lokalen Stadtnatur und des Alltagslebens im Dreispitz-Quartier.</p>
		<img src="/images/velodach.jpg" width="100%">
		<p style="text-align:left"><br>
			Das ästhetische, an die menschlichen Nutzer*innen gerichtete Medienformat soll für die Wahrnehmung der kleinen und grossen ökologischen Parallelwelten in der Nachbarschaft sensibilisieren und dazu einladen, diese auch im Vorbeigehen oder in der Mittagspause zu geniessen und zu achten.</p>
			<br>
	</div>
{{<  /card >}} -->

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
