+++
title = "Mitwelten"
linkTitle = "Mitwelten"

+++
<!--Medien­öko­lo­gi­sche In­fra­struk­tu­ren für Bio­di­ver­si­tät-->

{{< blocks/cover title="Mitwelten — Medienökologische Infrastrukturen für Biodiversität" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5">Interdisziplinäres Designforschungs­projekt (SNF, 2020-2024)</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Wie können mediale Designin­terventionen auf Grundlage des Internets der Dinge ökologisch und kulturell zur Förderung von Biodiversität in lokalen Ökosystemen beitragen?
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-map" title="Merian Gärten" %}}
Fallstudie in Basel, 2021

<!--{{< swisstopo e="2613146" n="1265072" >}}-->
{{< figure src="images/merian.png" text="Merian Gärten" link="https://www.mitwelten.org/fs1" width="90%" >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-map" title="Dreispitz Areal" %}}
Fallstudie in Münchenstein, 2022

<!--{{< swisstopo e="2612854" n="1264679" >}}-->
{{< figure src="images/dreispitz.png" text="Dreispitz Areal" link="https://www.mitwelten.org/fs2" width="90%" >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-map" title="Reinacher Heide" %}}
Fallstudie in Reinach BL, 2023

<!--{{< swisstopo e="2612668" n="1261433" >}}-->
{{< figure src="images/reinach.png" text="Reinacher Heide" link="https://www.mitwelten.org/fs3" width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h2 class="text-center">Design­interventionen</h2>
<p class="text-center">Die Design­interventionen haben zum Ziel, Pflanzen und Tieren eine Stimme zu geben, ökologische Wissensbestände und Erfahrungen zu erweitern, neue Formen Spezies übergreifenden Zusammenlebens zu gestalten und dadurch ökologische Werte und Verhaltensweisen zu kultivieren. Dazu wird ein <a href="https://github.com/mitwelten">Internet of Things Toolkit</a> entwickelt, das im Rahmen der gestalterischen Interventionen als medientechnologische Infrastruktur dient.</p>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

{{% blocks/feature icon="fa-envelope" title="Kontakt" url="mailto:mitwelten.technik@fhnw.ch" %}}
Für technische und andere Fragen 
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" url="https://github.com/mitwelten" %}}
IoT Toolkit & Resultate auf GitHub 
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Folge uns auf Twitter!" url="https://twitter.com/mitwelten" %}}
Für Ankündigungen usw.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->