+++
title = "Mitwelten"
linkTitle = "Mitwelten"

+++
<!--Medien­öko­lo­gi­sche In­fra­struk­tu­ren für Bio­di­ver­si­tät-->



{{< blocks/cover title="MITWELTEN" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
	<p>MEDIENÖKOLOGISCHE INFRASTRUKTUREN FÜR BIODIVERSITÄT</p>
	<p class="lead mt-3">Interdisziplinäres Designforschungs­projekt (SNF, 2020-2024)</p>
	{{< blocks/link-down color="yellow" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Wie können mediale Design-In­terventionen und Infrastrukturen auf Grundlage des Internets der Dinge ökologisch und kulturell zur <em><strong>Förderung von Biodiversität</strong></em> in lokalen Ökosystemen beitragen?
{{< figure src="images/mitwelten_logo.png" >}}
{{% /blocks/lead %}}




{{< blocks/section color="info" >}}

{{% blocks/feature icon="fa-map" title="Merian Gärten" %}}
Feldstudie in Basel/Münchenstein BL, 2021

<!--{{< swisstopo e="2613146" n="1265072" >}}-->
{{< figure src="images/merian.png" text="Merian Gärten" link="https://www.mitwelten.org/fs1" width="90%" >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-map" title="Dreispitz Areal" %}}
Feldstudie in Basel/Münchenstein BL, 2022

<!--{{< swisstopo e="2612854" n="1264679" >}}-->
{{< figure src="images/dreispitz.png" text="Dreispitz Areal" link="https://www.mitwelten.org/fs2" width="90%" >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-map" title="Reinacher Heide" %}}
Feldstudie in Reinach BL, 2023

<!--{{< swisstopo e="2612668" n="1261433" >}}-->
{{< figure src="images/reinach.png" text="Reinacher Heide" link="https://www.mitwelten.org/fs3" width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}




{{% blocks/lead color="yellow" %}}

# DESIGN-INTERVENTIONEN
----
<p class="text-center">Die Design­-Interventionen haben zum Ziel, Pflanzen und Tieren eine Stimme zu geben, ökologische Wissensbestände und Erfahrungen zu erweitern, neue Formen Spezies übergreifenden Zusammenlebens zu gestalten und dadurch ökologische Werte und Verhaltensweisen zu kultivieren. Dazu wird ein <a href="https://github.com/mitwelten"><em>Internet of Things Toolkit</em></a> entwickelt, das im Rahmen der gestalterischen Interventionen als medientechnologische Infrastruktur dient.</p>


{{% /blocks/lead %}}



{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-eye" title="Monitoring" %}}
Beobachtung – Sensoren – Visualisierung

{{< figure src="images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="Gestaltung" %}}
Intervention – Aktuatoren – Cohabitation

{{< figure src="images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="Kultivierung" %}}
Vermittlung – Apps – Citizen Science

{{< figure src="images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="light">}}
<div class="col">
<h2 class="text-center">Interdisziplinäres Team & Zusammenarbeit</h2>
<p>&nbsp;</p>
<p><strong>Projektleitung:</strong> <a href="https://www.fhnw.ch/de/personen/jan-torpus">Jan Torpus</a>, FHNW</p>
<p><strong>Forschung &amp; Entwicklung:</strong> Thomas Amberg, Lisa Eggenschwiler, Andreas Erhardt, Felix Gerloff, Rebecca Geyer, Sandra Gloor, Christoph K&uuml;ffer, Daniel K&uuml;ry, Martin Lacayo, Jan Torpus, Janosch Montandon, Thomas Waltert, Timeo Wullschleger.</p>
<p><strong>Wissenschaftlicher Beirat:</strong> Christiane Heibach, Claudia Mareis, Birgit Schneider, Eva Spehn, Evi Zemanek.</p></div>

{{< /blocks/section >}}





{{< blocks/section color="purple">}}

<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

{{% blocks/feature icon="fa-envelope" title="Kontakt" %}}
→ Fragen, Anregungen, Zusammenarbeit & Austausch per <a href="mailto:mitwelten.technik@fhnw.ch">Email</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" %}}
→ IoT Toolkit, technologische Entwicklungen & Anleitungen auf <a href="https://github.com/mitwelten">GitHub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter"  %}}
→ Ankündigungen, Neuigkeiten und Empfehlungen teilen auf <a href="https://twitter.com/mitwelten">Twitter</a>

{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
