+++
title = "Mitwelten"
linkTitle = "MITWELTEN"





+++
<!--Medien­öko­lo­gi­sche In­fra­struk­tu­ren für Bio­di­ver­si­tät-->



{{< blocks/cover title="MITWELTEN" image_anchor="center" height="full" >}}

<div class="mx-auto">
	<p>MEDIENÖKOLOGISCHE INFRASTRUKTUREN FÜR BIODIVERSITÄT</p>
	<p class="lead mt-3">Interdisziplinäres Designforschungs­projekt (SNF, 2020-2024)</p>
	{{< blocks/link-down  >}}
</div>
{{< /blocks/cover >}}


{{%blocks/lead color="teal" %}}
# EINE ANDERE WELT IST MÖGLICH
----
Das Ziel dieses Forschungsprojekts ist es, durch eine kultur- und medienwissenschaftlich erweiterte, naturwissenschaftlich geerdete und technologisch potenzierte, *transdisziplinäre Designforschung* einen Beitrag zur Förderung von Biodiversität in urbanen wie ländlichen Siedlungs- und Naherholungsgebieten zu leisten. Die zentrale Prämisse der Medienökologie, die **Aufhebung der Dichotomie von Natur und Kultur** einschliesslich des technologischen Bereichs, leitet das Projekt bei der **Überschreitung der anthropozentrischen Perspektive**. Die Integration verschiedener Dimensionen dieser Forschungsrichtung bildet den theoretischen Rahmen des Projekts bei der Erforschung medientechnologischer Infrastrukturen als **_Medien für Ökologie_**, deren Design- und Formprinzipien zur konkretisierenden Integration inkommensurabler Register sich überlagernder Parallelwelten dienen.
{{%/blocks/lead%}}



{{% blocks/lead color="primary" %}}

Wie können mediale Design-In­terventionen und Infrastrukturen auf Grundlage des Internets der Dinge ökologisch und kulturell zur <em><strong>Förderung von Biodiversität</strong></em> in lokalen Ökosystemen beitragen?  
  
	
<div class="col">
{{< figure src="/images/mitwelten_logo.png" width="100%" >}}
</div>
{{% /blocks/lead %}}




{{% blocks/lead color="yellow" %}}

# DESIGN-INTERVENTIONEN
----
<p class="text-center">Die Design­-Interventionen haben zum Ziel, Pflanzen und Tieren eine Stimme zu geben, ökologische Wissensbestände und Erfahrungen zu erweitern, neue Formen Spezies übergreifenden Zusammenlebens zu gestalten und dadurch ökologische Werte und Verhaltensweisen zu kultivieren. Dazu wird ein <a href="https://github.com/mitwelten"><em>Internet of Things Toolkit</em></a> entwickelt, das im Rahmen der gestalterischen Interventionen als medientechnologische Infrastruktur dient.</p>


{{% /blocks/lead %}}




{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-eye" title="Monitoring" %}}
Beobachtung – Sensoren – Visualisierung

{{< figure src="images/pollinators_campot.png" text="Pollinators"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-edit" title="Gestaltung" %}}
Intervention – Aktuatoren – Cohabitation

{{< figure src="images/haltestelle.jpeg" text="Haltestelle"  width="90%" >}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-globe" title="Kultivierung" %}}
Vermittlung – Apps – Citizen Science

{{< figure src="images/webmap_vermittlung.png" text="WebMap"  width="90%" >}}
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section>}}
<div class="col-12">
<h1 class="text-center">META</h1>
<p>&nbsp;</p>
<p><strong>Förderung:</strong> Schweizerischer Nationalfonds</p>
<p><strong>Projektnummer:</strong> 197845</p>
<p><strong>Projektbeginn:</strong> 01.12.2020</p>
<p><strong>Projektdauer:</strong> 48 Monate</p>
</div>
{{< /blocks/section >}}


{{< blocks/section>}}
<div class="col-12">
<h1 class="text-center">KONTAKT</h1>
<p>&nbsp;</p>
<p class="text-center">Hochschule für Gestaltung und Kunst FHNW<br> 
Institut Experimentelle Design- und Medienkulturen | IXDM<br>
Critical Media Lab | CML<br>
Freilager-Platz 1, 4002 Basel
</p>
</div>
{{< /blocks/section >}}










<!-- {{< blocks/section color="light">}}

<div class="col">
<h2 class="text-center">INTERDISZIPLINÄRES TEAM & ZUSAMMENARBEIT</h2>
<p>&nbsp;</p>
<p><strong>Projektleitung:</strong> <a href="https://www.fhnw.ch/de/personen/jan-torpus">Jan Torpus</a>, FHNW</p>
<p><strong>Forschung &amp; Entwicklung:</strong> Thomas Amberg, Lisa Eggenschwiler, Andreas Erhardt, Felix Gerloff, Rebecca Geyer, Sandra Gloor, Christoph K&uuml;ffer, Daniel K&uuml;ry, Martin Lacayo, Jan Torpus, Janosch Montandon, Thomas Waltert, Timeo Wullschleger.</p>
<p><strong>Wissenschaftlicher Beirat:</strong> Christiane Heibach, Claudia Mareis, Birgit Schneider, Eva Spehn, Evi Zemanek.</p>
</div>

{{< /blocks/section >}} -->





<!--{{% blocks/feature icon="fab fa-app-store-ios" title="App Download" %}}
Hol Dir die Mitwelten App!
{{% /blocks/feature %}}-->

<!--
{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Weiterer Abschnitt Titel</h1>
</div>
<p class="text-center">Mehr Text ...</p>
{{< /blocks/section >}}
-->
